$white: white;
$lightwhite: #e0dfe6;
$black: black;
$aqua: #2fb4db;
$blue: #1c2d5a;
$aquadark: #00b4db;
$aquapuar: #0083b0;
$lightblack: #0000001a;
$gray: #ddd;
$lightgray: #00000012;
$white567: #f5f6f7;
$white334: #f3f3f4;
$desc-color: #25395c;
$btn-color: #565656;
$shadow:#2fb4db26;
$form-input:#e2e2e2;