body {
  padding: 0px;
  margin: 0px;
}
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
li,
ul,
ol,
p,
form,
input {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;
  line-height: normal;
  font-family: var(--font_rl);
  outline: none;
}
a,
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}
input:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
input:focus,
textarea:focus {
  border: none;
}
html,
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}

@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/Roboto-Regular.ttf");
}
:root {
  --font_kr: "KaushanScript-Regular";
  --font_rl: "Roboto-Light";
  --font_rm: "Roboto-Medium";
  --font_rr: "Roboto-Regular";
  --blog-img-height: 400px;
}

@media (max-width: 767px) {
  :root {
    --blog-img-height: 250px;
  }
}
