#about {
  .sec-title .heading_tab {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .text {
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    font-family: var(--font_rr);
  }
}

.counter_section {
  position: relative;
  background: $white334;
  &:before {
    content: "";
    position: absolute;
    background: url("../../images/dot.png") no-repeat center center;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .counter {
    background: $white;
    padding: 30px;
    box-shadow: $lightblack 0px 20px 25px -5px, $lightblack 0px 10px 10px -5px;
    @include Transition(0.5s);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    @include flex(center, center, column);

    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $aqua;
      transform: translateY(-10px);
      @include Transition(0.5s);
      i,
      p,
      span {
        color: $white;
      }
    }
    span {
      font-size: 35px;
      margin: 0px;
      padding-top: 10px;
      font-weight: 600;
      font-family: var(--font_rr);
    }
    i {
      font-size: 40px;
      font-weight: bold;
      color: $aqua;
    }
    p {
      margin: 0px;
      padding: 0;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
