.home_card {
  position: relative;
  width: 100%;
  top: -100px;
  z-index: 99;
  .home-item {
    box-shadow: 0px 0px 30px 30px $lightgray;
    padding: 35px 40px 37px 40px;
    background-color: $white;
    border-radius: 5px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $aqua;
      color: $white;
    }
    &:hover .icon i,
    &:hover h3,
    &:hover li {
      color: $white !important;
    }
    .icon {
      margin-bottom: 20px;
      i {
        color: $aqua;
        font-size: 40px;
        display: inline-block;
        @include Transition(0.5s);
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 500;
      color: $desc-color;
      margin: 0 0 15px;
      line-height: 30px;
      text-transform: capitalize;
      @include Transition(0.5s);
      font-family: var(--font_rm);
    }
    .checklist {
      padding: 0;
      margin: 0;
      li {
        font-size: 16px;
        line-height: 30px;
        color: $btn-color;
        margin: 0;
        @include Transition(0.5s);
        font-weight: 400;
        font-family: var(--font_rm);
        text-align: left;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    a {
      position: absolute;
      bottom: -24px;
      border-radius: 100%;
      background: $white;
      color: $btn-color;
      border: 1px solid #e8e8e8;
      width: 50px;
      height: 50px;@include flex(center, center, null);
     }
  }
}
