.testimonial {
  position: relative;
  .heading_tab {
    margin: 0 0 20px 0;
  }
  &_content {
    .sub-title {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &_slider {
    position: relative;
    margin-bottom: 40px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%);
      width: calc(100% - 44px);
      height: 100%;
      border-radius: 4px;
      border: solid 2px $aqua;
      opacity: 0.4;
      z-index: 0;
    }
    &:after {
      top: 40px;
      width: calc(100% - 84px);
    }
    &_box {
      width: 100%;
      height: auto;
      background: $white;
      border-radius: 4px;
      border: solid 2px transparent;
      background-image: linear-gradient($white, $white), radial-gradient(circle at bottom, $aqua, $aqua);
      background-origin: border-box;
      background-clip: content-box, border-box;
      position: relative;
      box-shadow: 2px 2px 60px $shadow;
      z-index: 1;
    }
  }

  &_tab {
    width: 100%;
    text-align: center;
    padding: 33px 40px 40px 40px;
    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 16px;
    }
    h3 {
      margin-bottom: 0;
      font-family: var(--font_rm);
    }
    span {
      font-size: 15px;
      line-height: 28px;
      color: $aqua;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: var(--font_kr);
    }
    .client-img {
      padding-top: 11px;
      .review-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;
      }
    }
  }
}
